{% extends "posts/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="form-page">
    <h1>User Login</h1>

    {% if form.errors %}
        <div class="form-errors">
            Please enter it again
        </div>
    {% endif %}

    <form class="post-form" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Account</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
        </div>

        <button class="btn" type="submit">Log In</button>
    </form>
</section>
{% endblock %}